attrs
Babel
bcc
bcrypt
blinker
Brlapi
Brotli
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
duplicity
fasteners
gyp
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
Levenshtein
louis
Mako
Markdown
markdown-it-py
MarkupSafe
mdurl
meson
monotonic
mugshot
mutagen
netaddr
numpy
oauthlib
olefile
packaging
paramiko
pexpect
pillow
psutil
ptyprocess
pyasyncore
pycairo
pycryptodomex
pycups
Pygments
PyGObject
pyinotify
PyJWT
PyNaCl
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-pam
python-xlib
pytz
pyxdg
PyYAML
rapidfuzz
requests
rich
setproctitle
setuptools
shellingham
six
systemd-python
tinycss2
typer
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
ulauncher
unattended-upgrades
urllib3
usb-creator
wadllib
webencodings
websocket-client
websockets
wheel
xdg
xkit
xlrd
yt-dlp
